<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nodejs Jwt</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <h1>UserName: Nguyen Phu An</h1>
    <h2>age: 18</h2>
    <h3>Course: Nodejs Jwt</h3>
    <div class="img-wrapper">
      <img src="https://images2.alphacoders.com/123/thumbbig-1235452.webp" />
    </div>
  </body>
</html>
